---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <br/> <span style="font-size: 20px;color: #0006;"> {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    
    <!-- {{ content }} -->

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
        <p>
            This is a <b>new course</b> designed to teach the students about recent advances in the field LLMs, building gradually from the basics. While it is impossible to teach about all recent research, more so in case of a field advancing as rapidly as LLMs, we will try our best to cover the important and well-established topics.
        </p>
        <p>
            The NLP course offered by Prof. Tanmoy is ideally a precursor to this course. We will spend more time on the advanced concepts in this course and will go into a considerable depth, unlike NLP course where more time is spent on the basics. You can consider looking into the previous offerings of the basic NLP course:
        </p>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    <div>
        <div style="width:70%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructors</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:30%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistant</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<br>
<div style="width:100%; float: left">
<h2>Logistics</h2>
    <ul>
        <li><b>Timings:</b> Slot H (Monday, Wednesday: 11 am - 12 pm; Thursday: 12 - 1 pm)</li>
      <li><b>Office hours:</b> Monday: 5 - 5:30 pm</li>
      <li><b>Classroom:</b> Bharti-301</li>
        <li><b>News and announcements:</b> All the news and announcements will be made on Piazza.</li>
        <li><b>Piazza link:</b> </li>
    </ul>  
<br/>
<h2>Assessment Plan (Tentative)</h2>
    <ul>
            <li>Minor: 15%</li>
            <li>Major: 25%</li>
          <li>2x Quizzes (in-class): 10%</li>
        <li>1x Assignment (to be done individually): 20%</li>
        <li>Project (group-wise): 30%</li>
    </ul>  
</div>
</div>
